* {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', sans-serif;
}

html {
  height: 100%;
  background: #7474BF; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

body {
  padding-top: 90px;
  padding-bottom: 50px;
  height: 100%;

}
.wrapper {
  max-width: 940px;
  padding: 80px 60px 40px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(255,255,255,.94);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 2px;

  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

ul li {
  list-style: none;
}

.mlist {
  float: left;
  width: 45%;
}
div[class^="col"] {
  float: left;
}

.col-2 {
  width: 40%;
  position: relative;
}

.col-4 {
  width: 60%;
}

section {
  overflow: hidden;
  margin-bottom: 40px;
}
.section-title {
  color: #3983AA;
  letter-spacing: 4px;
  font-size: 12px;
  margin-bottom: 18px;
}

.item {
  margin-bottom: 38px;
}
.item:last-child {
  margin-bottom: 0;
}
.item-title, .item-subtitle {
  color: #3C3A4C;
}

.item-title {
  font-size: 15px;
  font-weight: 600;
}

.item-subtitle {
  font-size: 13px;
  font-weight: 200;
  margin-top: 4px;
}
.item-description {
  color: #787787;
  font-size: 13px;
  line-height: 1.75;
  margin-top: 16px;
}

.item-seperator {
  margin: 0 6px;
}

.list-title {
  font-size: 14px;
  margin-bottom: 6px;
  color: #3C3A4C;
}
.mlist li {
  font-size: 13px;
  color: #787787;
  margin-bottom: 4px;
}
.contact {
  margin-bottom: 100px;
}
.contact-list li {
  
  color: #3C3A4C;
  font-size: 12px;
  margin-bottom: 6px;
  position: relative;
}
.contact-list li>span:first-child {
  margin-right: 10px;
  vertical-align: middle;
}

.contact-list li span {
  font-family: Courier, monospace;
}
h1 {
  color: #48456E;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}
h1 span:last-child {
  font-weight: 100;
  margin-left: 5px;
  text-transform: uppercase;
}
.logo {
  margin-bottom: 40px;
}
.contact-list a {
  text-decoration: none;
  color: #3C3A4C;
  font-family: Courier, monospace;
}
.contact-list a:hover {
  background-color: #3983AA;
  color: #fff;
}

.footer {
  cursor: pointer;
  max-width: 940px;
  margin: 30px auto 0 auto;
  padding-bottom: 80px;
  opacity: .4;
  font-weight: 700;
  text-shadow: 0 2px 1px rgba(50,50,50,.4);
  transition: opacity .3s;
}
.footer hr {
  width: 100px;
  margin-bottom: 6px;
  border-bottom-color: rgba(255,255,255,.3);
  border-top-color: rgba(0,0,0,.1);
}
.footer:hover {
  opacity: .9;
}

.rights {
  color: #fff;
  font-size: 12px;
}

.left-col {
  position: absolute;
  bottom: 0;
}

.arrow {
  width: 37px;
  height: 24px;
  background-size: 37px 24px;
  background-repeat: no-repeat;
  position: absolute;
  top: -33px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAYCAYAAAB9ejRwAAABb0lEQVR4AWOgPxgFo2AUjIJRwIgL090hpGJ6O4YJF6a5wwg4hhmIVYHYFEoz09xxOBzDDMUsQGySkpLi//z5y7Px8fF+QL4BkjwzNsfRykEsUGyek5MT/OnT55c/fvz8//79h8fh4eE+QHE9kDweh1HuICyhwwrEFtXV1dGfP395D3IQDL958+6Ou7u7B1BeB6qOBavDKHcQwjEwB3V2diYDHfQB4SAEfv369XULCwsXoDotfA6jOISghrOBHDRx4sSMr1+/fUY4BBO/fPnqkrq6uiNQvTrFDkNPQ+hRNnPmzLxv375/B1lMCD979vyMrKysHVCfEqbDEJ6nJNosli1bVgp0zi+ExYTxw4ePDktKStoC9cviCi1yQ8l848bN9TAHkYrv3bu3i5eX1wpojiTMYeQ5CpGOzHfu3NkGdNBfkAXk4lu3bm9iZWW1AJonQiAKCYODBw/2AA39BzKYUnz16vVVDNQAIMOoiYmxEwCIZ/HSqrrq+gAAAABJRU5ErkJggg==");
}

.popover {
  display: none;
  position: absolute;
  z-index: 300;
  border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAABwklEQVR4Ae2XBa4jMRBEX8AwsMwg/sz8w7n/qZZaalkOeHqZqgTBeu4a5r9+ov6rl/lHBRtAhuj+en8TJoserHGOsa9do4d8tkMtnwjGjsjDA/vcM8p8zz4hh9jiZeVX3LHLcwJ9QDSg4jm73HErk1gQafxTRuwR2STPHiOepghb/D1vKekt990RMqTEO0YaX0KMcIIo1ZTGX7NPV+1zrYjtAK0nMiLSVfJrranL+g/Yw6I9DsozKADPmBdY9IIxvgSQgoY4AhMCFsk/HMMtJen6BdDDop4CZIZCQZEpVk2J60vKAe6bAO5fAgywqGcHVFgUzQDzgVYCZLvpMQdYdMBxYTfNDrSGqeFY9kxpCgdadqqIjDmkqw6ZEIuniqykmhnv6aL3zKjLBSlAZ3hVQmj8K12/AkoXHE+g4hVzjqi2dH/InNdUBHx2wSnO4IlUNIyYcchLYvLHHpGXHDJjSkNFxHe8ZK5B1DzkjMUnLxN/fn/GQ+o8XgClGRRBIFJT09DyIHFLw+fPIyGJFwAFwBqETCIgCZaVr4vvgQGhEMGkDhpuic8RCnH4zE7D8/hff/suCPMDyM99hPr1D4Fl0D+jj81yH2fRzKqpAAAAAElFTkSuQmCC");
  border-width: 22px 22px 22px 22px;
  border-image-slice: 22 22 22 22 fill;
  border-style: solid;
  border-image-repeat: repeat;
  -webkit-user-select: none;

  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.body {
  margin: -10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #f3f3f7;
}

.cell {
  
  border-bottom: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  
  font-size: 14px;
}


.cell:last-child {
  border-bottom: none;
}

.cell a {
  width: 100%;
  padding: 8px 28px;
  display: block;
  text-decoration: none;
  color: #3C3A4C;
}

.cell:hover {
  background-color: rgba(0,0,0,.05);
}

.more {
  color: #3983AA;
  font-size: 13px;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px dotted #3983AA;
}

.mask {
  position: fixed;
  display: none;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.2);

  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.show {
  display: block;
}

.dream {
  font-size: 16px;
  font-weight: 200;
  color: #787787;
  margin-bottom: 20px;
}

key {
  display: inline-block;
  color: #348AC7;
  position: relative;
  top: -1px;
  text-shadow: none;
  text-decoration: none;
  text-align: center;
  line-height: 16px;
  height: 16px;
  font-family: Courier, monospace;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 2px;
  font-size: 10px;
  background-color: #efefef;
  border-color: #efefef;
  -webkit-box-shadow: 0 4px 0 #749AC7, 0 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 0 #749AC7, 0 5px 2px rgba(0, 0, 0, 0.3);
}
.item-description a {
  color: #3DCED0;
  text-decoration: none;
}
.item-description a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 769px) {
  body {
    padding: 0;
  }
  div[class^="col"] {
    float: none;
  }
  .col-2, .col-4 {
    width: 100%;
    height: auto;
  }
  #education, #language, #skills, #awards {
    float: left;
    width: 50%;
  }
  .more {
    margin-bottom: 100px;
  }

  .left-col {
    position: relative;
    bottom: auto;
    overflow: hidden;
  }
  .mlist {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  body {
    padding: 0;
  }
  div[class^="col"] {
    float: none;
  }

  h1 {
    text-align: center;

  }

  .wrapper {
    border-radius: 0;
  }

  .footer {
    padding: 20px;
    margin-top: 20px;
  }
  .dream {
    text-align: center;
  }

  .contact {
    text-align: center;
  }
  .contact-list {
    width: 230px;
    margin: 0 auto;
    text-align: left;
  }
  .more-info {
    text-align: right;
    width: 230px;
    margin: 0 auto;
  }
  #education, #language, #skills, #awards {
    float: left;
    width: 100%;
  }

  .mlist {
    width: 50%;
    margin-bottom: 0px;
  }

  .logo {
    margin-top: 50px;
  }
  .col-2, .col-4 {
    width: 100%;
  }
  .wrapper {
    padding: 10px 20px;
  }
  section {
    margin-bottom: 30px;
  }
  .left-col {
    position: relative;
    bottom: auto;
  }
}

@media print {
  html {
    background: #fff;
  }
  body {
    padding: 0;
  }
  .contact {
    margin-bottom: 0;
  }
  .left-col {
    position: relative;
    bottom: auto;
  }
  .wrapper {
    padding: 28px 16px;
    box-shadow: none;
  }
  .section-title {
    color: #29739A;
  }
  section {
    margin-bottom: 30px;
  }
  .section-title {
    margin-bottom: 20px;
  }
  .item-title {
    font-size: 13px;
  }
  .item-subtitle {
    font-size: 12px;
  }
  .item {
    margin-bottom: 22px;
  }
  .item-description {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 12px;
    color: #ccc;
    font-weight: 200;
  }
  .dream, .mlist li {
    color: #ccc;
  }
  .footer {
    display: none;
  }
  .col-2 {
    width: 42%;
  }
  .col-4 {
    width: 58%;
  }
  .more {
    opacity: 0;
  }
}